body{
margin: 0;
padding: 0;
background-image: url("../img/nature.jpg");
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}
.wrapper{

margin: 50px 100px;
height: 400px;
padding: 20px;
background-color: white;
box-sizing: border-box;
border: 2px solid black;

box-shadow: 5px 10px 10px black;
}
ul{
display: flex;
flex-direction: row;

}
li{
list-style-type: none;
margin: 0 20px;

}
button{
padding: 10px 5px;
background-color: blue;
color: white;
}
h1,h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: gray;

}
audio{
display: none;
}
.time{
position: relative;
top: -150px;
}